<html>
    <head>
        <title>Контакт</title>
    </head>
    <body>
        <table>
            <tr>
                <h1 align="center">Контакт</h1>
            </tr>
            <tr>
                <td align="left">
                    <img src="~/index13.jpg" class="img" height="1000" width="650" />
                </td>
                <td align="center">
                    <h1>@Model.Id</h1>
                    <h1>@Model.LastName</h1>
                    <h1>@Model.FirstName</h1>
                    <h1>@Model.PName</h1>
                    <h1>@Model.PhoneNumber</h1>
                    <h1>@Model.Adress</h1>
                    <h1>@Model.Description</h1>
                </td>
                <td align="right">
                    <img src="~/inde2.jpg" class="img" height="1000" width="650"/>
                </td>
            </tr>
        </table>
    </body>
</html>
